<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <p>Pirate Name: <input type="text" name="pirate[name]"></p>
  <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
  <p>Pirate Height: <input type="text" name="pirate[height]"></p>
  <p>Ship Name: <input type="text" name="pirate[ships][][ship_name_1]"></p>
  <p>Ship Type: <input type="text" name="pirate[ships][][ship_type_1]"></p>
  <p>Ship Booty: <input type="text" name="pirate[ships][][ship_booty_1]"></p>
  <p>Ship Name: <input type="text" name="pirate[ships][][ship_name_2]"></p>
  <p>Ship Type: <input type="text" name="pirate[ships][][ship_type_2]"></p>
  <p>Ship Booty: <input type="text" name="pirate[ships][][ship_booty_2]"></p>
  <p><input type="submit"></p>
</form>
